<h1>New recipe</h1>
<form method="POST">
    <label>Title:</label><br />
    <input type="text" name="title"><br />
    <label>Description:</label><br />
    <input type="text" name="description"><br />
    <input type="submit" value="Save" name="submit">
</form>
<ul>
    {{range .RecipeViews}}
        <form action="/recipes/{{.Title}}" method="POST" data-recipe={{.Title}}>
            {{if .Edit}}
                <input type="hidden" name="oldTitle" value="{{.Title}}">
                <label for="editTitle">Title</label>
                <input type="text" name="editTitle" value="{{.Title}}"><br />
                <label for="editDescriptiton">Description </label>
                <input type="text" name="editDescription" value="{{.Description}}">
                <input type="submit" name="updateBtn" value="Update">
            {{else}}
                <li name="displayTitle">Title: {{.Title}}</li>
                <li name="displayDescription">Description: {{.Description}}</li>
                <input type="submit" name="deleteBtn" value="Delete">
                <input type="submit" name="editBtn" value="Edit">
            {{end}}
        </form>
    {{end}}
</ul>